@inject SignInManager<ApplicationUser> signInManager;
@model BooksDevotee.ViewModels.Home.DetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-5">
        <div class="card m-1">
            @{
                string imgSource = Image.GetImageSource(Model.Book.Image);
            }
            <img class="p-3" src="@imgSource" />
        </div>
    </div>

    @{
        Book book = Model.Book;
    }

    <div class="col-md-7">
        <div class="row">
            <div class="col-12"><h3>@book.Title</h3></div>
        </div>
        <div class="row">
            <div class="col-md-4">Autor</div>
            <div class="col-md-8">@book.Author</div>
        </div>
        <div class="row">
            <div class="col-md-4">Kategorie</div>
            <div class="col-md-8">
                @foreach (BookCategory bookCategory in book.BookCategories)
                {
                    <div class="row">
                        <div class="col-md-12">@bookCategory.Category.CategoryName</div>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Typ okładki</div>
            <div class="col-md-8">@book.CoverType</div>
        </div>
        <div class="row">
            <div class="col-md-4">Wydawca</div>
            <div class="col-md-8">@book.Publisher</div>
        </div>
        <div class="row">
            <div class="col-md-4">Wymiary</div>
            <div class="col-md-8">@book.Dimensions</div>
        </div>
        <div class="row">
            <div class="col-md-4">Ilość stron</div>
            <div class="col-md-8">@book.Pages</div>
        </div>
        <div class="row">
            <div class="col-md-4">Data wydania</div>
            <div class="col-md-8">@book.ReleaseDate</div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-8">
                <a class="btn btn-primary btn-block" asp-action="add" asp-controller="basket"
                   asp-route-id="@book.BookId" role="button">
                    Dodaj do koszyka
                </a>
            </div>
        </div>
        @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Employee")))
        {
            <div class="row mt-md-3">
                <div class="col-md-4 w-100">
                    <a class="btn btn-warning btn-block" asp-action="edit" asp-controller="home"
                       asp-route-id="@book.BookId" role="button">
                        Edytuj
                    </a>
                </div>
                <div class="col-md-4 w-100">
                    <a class="btn btn-danger btn-block" asp-action="delete" asp-controller="home"
                       asp-route-id="@book.BookId" role="button">
                        Usuń
                    </a>
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Opis</h3>
        @book.Description
    </div>
</div>